@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #1B3C73;
  background: linear-gradient(to right, rgb(255, 66, 176), rgb(107, 238, 255));
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cardbg{
  background: linear-gradient(to right, rgb(114, 11, 162), rgb(5, 134, 255));
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@keyframes walkanim {
  to {
    background-position: 100% 0;
  }
}

@keyframes stroll {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(200%);
  }
}

#walk-container {
  width: 50%;
  height: 30vh;
  vertical-align: middle;
  overflow: hidden;
  animation: stroll 5s linear infinite;
}

#walk {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-image: url(../public/walk-sequence.svg);
  background-repeat: no-repeat;
  background-size: 700%;
  animation: walkanim 1s infinite steps(7);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
